<div class="row inbox">
  <h1>Inbox</h1>

  <% if flash[:notice] %>
    <div class="notice alert"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:error] %>
    <div class="notice alert"><%= flash[:error] %></div>
  <% end %>

  <% @received_messages.each do |message| %>
    <div class="col-xs-12 messages well">
      <div class="user-message">
        <img>
          <% if message.sender.profile.avatars.any? %>
            <%= message.sender.profile.avatars[0] %>
          <% else %>
            <%= image_tag "placeholder.png" %>
          <% end %>
        </img>
        <p class="message">
          <strong><%= message.sender.username %></strong>
          <%= message.body %>
        </p>
      </div>
      <%= form_for @message do |f| %>
        <fieldset>
          <div>
            <img>
              <% if message.sender.profile.avatars.any? %>
                <%= message.sender.profile.avatars[0] %>
              <% else %>
                <%= image_tag "placeholder.png" %>
              <% end %>
            </img>
            <%= f.text_area :body, id: ["message", message.id, "body"], class: "form-control reply", placeholder: "Reply..." %>
            <%= f.hidden_field :sender_id, value: message.receiver.id %>
            <%= f.hidden_field :receiver_id, value: message.sender.id %>
            <%= f.hidden_field :replied_to_id, value: message.id %>
          </div>
        </fieldset>
        <fieldset>
          <%= f.submit "Reply", id: ["message", message.id, "reply"].join("_"), class: "btn btn-info mt-10" %>
        </fieldset>
      <% end %>
    </div>
  <% end %>
</div>
