<div class="row">
  <h1>Your Profile</h1>
  <div class="col-xs-12">

  <%= form_for @profile, html: { multipart: true } do |f| %>
    <fieldset>
      <% if @profile.avatars? %>
        <% @profile.avatars.each do |image| %>
          <%= image_tag(image.url) %>
        <% end %>
      <% end %>
      <%= f.label "Upload your Avatar" %>
      <%= f.file_field :avatars, multiple: true %>
    </fieldset>
    <fieldset>
      <%= f.label :biography %>
      <%= f.text_area :biography, class: "form-control" %>
    </fieldset>
    <fieldset>
      <%= f.label "Do you drink?" %>
      <%= f.check_box 'drinker' %>
    </fieldset>
    <fieldset>
      <%= f.label :desires %>
      <%= f.text_area :desires, class: "form-control" %>
    </fieldset>
    <fieldset>
      <%= f.label "Do you smoke?" %>
      <%= f.check_box 'smoker', class: "form-control" %>
    </fieldset>
    <fieldset>
      <%= f.label "Select your Star Sign" %>
      <%= f.select :star_sign, star_sign_options, {}, class: "form-control" %>
    </fieldset>
    <fieldset>
      <%= f.label "Select your Religious Beliefs" %>
      <%= f.select :religion, religion_options, {}, class: "form-control" %>
    </fieldset>
    <fieldset>
      <%= f.label "Select a Language you can speak" %>
      <%= f.select :languages, language_options, {}, class: "form-control" %>
    </fieldset>
    <fieldset>
      <%= f.label "Weight k/g" %>
      <%= f.number_field :weight %>
    </fieldset>
    <%= f.submit "Save" %>
  <% end %>

  </div>
</div>
