<div class="row">
  <h1>Your Profile</h1>
  <div class="col-xs-12">

  <%= form_for @profile, html: { multipart: true } do |f| %>
    <fieldset>
      <%= f.label "Upload your Avatar" %>
      <%= f.file_field :avatars, multiple: true %>
    </fieldset>
    <fieldset>
      <%= f.label :biography %>
      <%= f.text_area :biography %>
    </fieldset>
    <fieldset>
      <%= f.label "Do you drink?" %>
      <%= f.check_box 'drinker' %>
    </fieldset>
    <fieldset>
      <%= f.label :desires %>
      <%= f.text_area :desires %>
    </fieldset>
    <fieldset>
      <%= f.label "Do you smoke?" %>
      <%= f.check_box 'smoker' %>
    </fieldset>
    <fieldset>
      <%= f.label "Select your Star Sign" %>
      <%= f.select :star_sign, Profile::STAR_SIGNS %>
    </fieldset>
    <%= f.submit "Save" %>
  <% end %>
  <% if @profile.avatars? %>
    <% @profile.avatars.each_with_index do |image,index| %>
      <fieldset>
        <%= image_tag(image.url) %>
        <%= form_tag("/profiles/#{@profile.id}/delete_image", method: :post) %>
        <%= hidden_field_tag("index_tag", index) %>
      </fieldset>
      <fieldset>
        <%= submit_tag("Delete") %>
      </fieldset>
    <% end %>
  <% end %>
  </div>
</div>
