<div class="center-content search-container col-sm-6 col-sm-offset-3">
  <h2>Search Profiles:</h2>

  <%= form_tag('/profiles/search_results', method: :get, class: "search-form col-sm-8 col-sm-offset-2") %>
    <fieldset>
      <%= label_tag("search[gender]", "Gender", for: "search[gender]") %>
      <%= select_tag("search[gender]", gender_options, class: "form-control") %>
    </fieldset>

    <fieldset>
      <%= label_tag("search[industry]", "Industry", for: "search[industry]") %>
      <%= select_tag("search[industry]", industry_options, class: "form-control") %>
    </fieldset>

    <fieldset>
      <%= label_tag("search[proximity]", "Proximity", for: "search[proximity]") %>
      <%= select_tag("search[proximity]", distance_options, class: "form-control") %>s
      <%= hidden_field_tag("search[user_location]", current_customer.profile.geocoder_input, class: "form-control") %>
    </fieldset>

    <%= submit_tag("Search", class: "btn btn-info mt-10") %> 
  <% end %>
  
  <div class="clearfix"></div>
</div>
