<div class="row">
  <div class="center-content col-sm-10 col-sm-offset-1">
    <div class="row">
      <span><%= link_to "Edit Profile", [:edit, @profile] %></span>
      <h1>Profile</h1>

      <div class="col-sm-4">
        <% if @profile.avatars.any? %>
        <% @profile.avatars.each do |image| %> 
            <%= image_tag(image.url, class: "img-responsive", alt: "Cinque Terre", width: "304", height: "236", class: "profile-thumbnail") %>
            <% break %>
          <% end %>
        <% else %>
          <%= image_tag "placeholder.png", class: "profile-thumbnail" %>
        <% end %>
      </div>

       <div class="col-sm-8">
        <h3><%= @profile.customer.username %></h3>
          <dl>
            <dt>Age</dt>
            <dd></dd>

            <dt>Location</dt>
            <dd><%= @profile.geocoder_input %></dd>

            <dt>Gender</dt>
            <dd><%= @profile.gender %></dd>

            <dt>Ethnicity</dt>
            <dd><%= @profile.ethnicity %></dd>

            <dt>Biography</dt>
            <dd><%= @profile.biography %></dd>
          </dl>
      </div>
    </div>
  </div>
</div>
